
.footer{
    margin-top: 40vh;
    bottom: 0;
    width:100wv;
    height:40vh;
    background-color: #282c34;
    color: rgb(241, 243, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.footertextContainer{


    width:50%;
    height:60px;
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
    
}
.footertext{
    margin-top: 10px;
    font-size: 2vw;
}
.footertext:hover {
    font-size: 1.5vw;
}
.iconsFooter{
    width:60px;
}
.footerIcons{
    width:70%;
    height:20px;
    margin-top: 10%;

    display: flex;
    flex-direction: row;

    
    align-items: center;
    justify-content: center;
}
/*

*{
    margin: 0;
}
.topbar{
    width:100wv;
    height: 10%;
    background-color: #282c34;
    color: rgb(241, 243, 239);
    display: flex;
    flex-direction: row;
    
}
.textContainer{
    width:50%;
    height:60px;
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    margin-left: 52vw;
    margin-right: 2vw;
    justify-content: space-between;
}
.text{
    margin-top: 20px;
    font-size: 2vw;
}
.text:hover {
    font-size: 1.5vw;
}

*/